#landingHeader {
  background-image: url('/portada-web-comprimida.png');
  background-size: cover;
  position: relative;
  background-position: center;
  z-index: 0;
  bottom: 64px;
}

#websiteDecoration {
  background-image: url(https://cdn1.casamientos.com.ar/assets/img/wedsites/hero/olive-branches-bg-small.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#landingFooter {
  background-image: url('/abrazados-y-mirandonoooss-compirmida.png');
  background-size: cover;
  position: relative;
  background-position: center;
  z-index: 0;
}
